body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    color: black;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.robotImg{
    max-width: 235px;
    height: auto;
}

footer {
    border-top: 1px solid #eeeeee;
    color: #888888;
    padding: 20px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

header h1{
    font-size: 48px;
}

.main-content{
    flex-grow: 1;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background-color: #888888;
    color: white;
    padding: 8px;
}