<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="/img/cloud_sun.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            {{title}}
            <p>{{text}}</p>
        </div>
        

        {{>footer}}
    </body>

</html>