<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="/img/cloud_sun.png">
        <link rel="stylesheet" href="./css/style.css">
        
    </head>

    <body>

        <div class="main-content">
            {{>header}}
            <h1>viewsss</h1>
            <img class="robotImg" src="./img/robot.png" alt="">


            <form action="" class="search">
                <input type="text" placeholder="Location">
                <button>Search</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        

        
        {{>footer}}

        <script src="/js/app.js"></script>
        
    </body>

</html>